<script setup lang="ts">
import {useCalculatorStore} from './stores/Calculator'
//const {sum,substract, modulo, multiplication, param1, param2, message, result} = useCalculatorStore()
const calculate = useCalculatorStore()
</script>

<template>
  
  <main>
    <el-row>
      <el-col :md="24">
        <el-button type="primary" @click="calculate.sum" class="sumButton">Sum</el-button>
        <el-button type="success" @click="calculate.substract()" class="substractButton">Substract</el-button>
        <el-button type="warning" @click="calculate.multiplication()">Multiplication</el-button>
      <el-button type="info" @click="calculate.modulo()" class="moduloButton">Modulo</el-button>
      <el-button type="default" @click="calculate.clear">Clean</el-button>
      </el-col>
    </el-row>
    <el-row>
      <el-col :md="24">
        <el-form class="form">
          <el-form-item label="Valeur 1">
            <el-input-number v-model="calculate.param1" placeholder="Entrer operande 1" class="param1"></el-input-number>
          </el-form-item>
          <el-form-item label="Valeur 2">
            <el-input-number  type="number" v-model="calculate.param2" placeholder="Entrer operande 2" class="param2"></el-input-number>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <el-row>
      <el-col :md="24">
        <p class="resultat" v-if="calculate.isResultat">{{calculate.msg}}</p>
      </el-col>
    </el-row>
  </main>
</template>

<style scoped>
.main{
  margin: 20%;
}
.form{
  margin-top: 20px;
}
</style>
./stores/Calculator